/* 
    Document   : reptilo_overlay_feedback.css
    Created on : 2014-jan-15, 19:25:46
    Author     : Krillo
    Description: The style for reptilo overlay feedback function
*/

.modal-dialog {width: 380px;}
i{margin-right: 10px;}
.feedback-type{margin-right: 20px;}
#rep-msg, #rep_email{width:340px;}


a.selected{
	background-color: #555555;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: white;
	outline: none;
  padding: 10px;
}
a.selected:after{
	display: block;
	content: ' ';
	bottom: -5px;
	left: 50%;
	margin-left: -4px;
	width: 0px;
	height: 0px;
	border-top: 6px solid #555;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
}